$nav-color: #13151E;
$primary: #171923;
$primary-clean: #252A37;
$primary-clean-hover: #252a3780;
$secondary: #feeafa;

$default-padding: 5px;

*{
    color: #B5B5BD;
}



body {

    background-color: $primary;

    h1 {

        &:after {
            content: '';
            height: 1px;
            border-bottom: 2px solid lightgray;
            display: block;
            padding: $default-padding;

        }

    }

    p {
        font-size: 1.5rem;
        color: #FF2D20;
    }

    label {
        display: block;
        margin: 10px 0 5px 0;
    }

    select,
    input {
        border-style: none;
        border-color: #212529;
        background-clip: padding-box;
        background-color: #fff;
        border-radius: 10px;
        color: #212529;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 5px 5px 5px 0;

        min-width: 80px;

        padding: $default-padding;
        display: inline-block;
        width: calc(100% - $default-padding);
    }

    small {
        color: #8338EC;
        display: block;
    }

    nav {
        background-color: $nav-color;
        color: $secondary;
        padding: 24px;
    }

    .section {
        background-color: $primary-clean;
        transition: .2s ease;
        margin-bottom: 15px;
        &:hover {
            background-color: $primary-clean-hover;
            padding: 5px 0 5px 10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }

        div:last-child{
            margin-bottom: 10px;
        }

    }

    .yin {
        border-top-left-radius: 10px;
        // border-top-right-radius: 15px;
    }

    .yang {
        border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 15px;
    }

    .row {
        font-weight: bolder;
        margin: 0;
        padding: $default-padding;
    }

    .main-content {
        // margin-top: 25px;
        min-width: 555px;

        .group-selects-date {
            select {
                width: calc(33.33% - 15px);
                max-width: 110px;
            }
        }
    }

    .result {
        // margin: 10px 0;
        background-color: $primary-clean;
    }

}